*.git
*.vs
/ConsoleApp1/bin/Debug/ConsoleApp1.exe
/ConsoleApp1/bin/Debug/ConsoleApp1.exe.config
/ConsoleApp1/bin/Debug/ConsoleApp1.pdb
/ConsoleApp1/bin/Debug/Newtonsoft.Json.dll
/ConsoleApp1/bin/Debug/Newtonsoft.Json.xml
/ConsoleApp1/bin/Debug/Philips.IEngine.LoggingTracing.dll
/ConsoleApp1/bin/Debug/Philips.IEngine.LoggingTracing.pdb
/ConsoleApp1/bin/Debug/Philips.IEngine.LoggingTracing.xml
/ConsoleApp1/bin/Debug/Philips.Swf.Commons.Libs.dll
/ConsoleApp1/bin/Debug/Philips.Swf.Commons.Libs.pdb
/ConsoleApp1/bin/Debug/Philips.Swf.Commons.Tracing.dll
/ConsoleApp1/bin/Debug/Philips.Swf.Commons.Tracing.pdb
/ConsoleApp1/bin/Debug/System.Management.Automation.dll
/packages/Newtonsoft.Json.13.0.1/.signature.p7s
/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/net20/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/net35/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/net40/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/net45/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/netstandard1.3/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.dll
/packages/Newtonsoft.Json.13.0.1/lib/netstandard2.0/Newtonsoft.Json.xml
/packages/Newtonsoft.Json.13.0.1/LICENSE.md
/packages/Newtonsoft.Json.13.0.1/Newtonsoft.Json.13.0.1.nupkg
/packages/Newtonsoft.Json.13.0.1/packageIcon.png
